<app-main-header></app-main-header>

<section class="project">
  <div class="row">
    <div class="col">
      <div class="datasets">
        <a href="#"><i class="fa fa-caret-left"></i> All Datasets</a>
        <h6>Hospital Readmission</h6>
        <dl class="tb-data">
          <dt>Target Variable:</dt>
          <dd>Readmited</dd>
          <dt>Industry:</dt>
          <dd>Health Care</dd>
        </dl>
        <p>Checking for usage limits...</p>
      </div>
    </div>
  </div>

  <!-- Popup -->
  <div class="popup">
    <div class="dialog-box">
      <div class="popup-content">
        <a href="#" class="close"><img src="../../../../assets/images/close.png" alt=""></a>
        <h2>Create Project from Data Connection</h2>
        <form>
          <div class="form-group">
            <input type="Search" class="form-control" placeholder="Search">
          </div>
          <p>Select a data connection or <a href="#">add a new data connection</a> <img src="assets/images/arw_lft.png"
              alt=""> 0-0 of 0 <img src="assets/images/arw_rgt.png" alt=""></p>
          <h4><img src="../../../../assets/images/icn_info.png" alt=""> Show Advanced Options</h4>
          <div class="clearfix">
            <a href="#" class="btn btn-primary float-right">Cancel</a>
          </div>

          <!-- Demo button -->
          <div class="row">
            <div class="col-md-12" style="padding-top: 15px;">
              <a routerLink="/screen11" class="col-md-12 btn-block" routerLinkActive="activebutton">
                <button class="btn btn-primary mx-auto" style="width:100%;max-width:1280px;">Next Page of Product
                  Demo</button>
              </a>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</section>