<!--suppress ALL -->



<app-main-header></app-main-header>
<section class="advance-option">
    <div class="row">
      <div class="col col-md-8 col-lg-9 main-section">
        <a href="#" class="back"><i class="fa fa-angle-left"></i> Back</a>
        <br><br><br>
        <h5>Advanced Options</h5>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Partitioning</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="smart-tab" data-toggle="tab" href="#smart" role="tab" aria-controls="smart" aria-selected="false">Smart Downsampling</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="feature-tab" data-toggle="tab" href="#feature" role="tab" aria-controls="feature" aria-selected="false">Feature Consraints</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="additional-tab" data-toggle="tab" href="#additional" role="tab" aria-controls="additional" aria-selected="false">Additional</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h5>Select partitioning method:</h5>
            <ul class="nav nav-pills mbw-3 mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-random-tab" data-toggle="pill" href="#pills-random" role="tab" aria-controls="pills-random" aria-selected="true">Random</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-partition-tab" data-toggle="pill" href="#pills-partition" role="tab" aria-controls="pills-partition" aria-selected="false">Partition Feature</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-group-tab" data-toggle="pill" href="#pills-group" role="tab" aria-controls="pills-group" aria-selected="false">Group</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-date-tab" data-toggle="pill" href="#pills-date" role="tab" aria-controls="pills-date" aria-selected="false">Date/Time</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-stratified-tab" data-toggle="pill" href="#pills-stratified" role="tab" aria-controls="pills-stratified" aria-selected="false">Stratified</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-random" role="tabpanel" aria-labelledby="pills-random-tab">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
              </div>
              <div class="tab-pane fade" id="pills-partition" role="tabpanel" aria-labelledby="pills-partition-tab">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
              </div>
              <div class="tab-pane fade" id="pills-group" role="tabpanel" aria-labelledby="pills-group-tab">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
              </div>
              <div class="tab-pane fade" id="pills-date" role="tabpanel" aria-labelledby="pills-date-tab">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
              </div>
              <div class="tab-pane fade" id="pills-stratified" role="tabpanel" aria-labelledby="pills-stratified-tab">
                <p>Rows are assigned in a way that ensures similar target distribution across each partition.</p>
              </div>
            </div>

            <h5>Run models using:</h5>
            <ul class="nav nav-pills mbw-2 mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="pills-cross-tab" data-toggle="pill" href="#pills-cross" role="tab" aria-controls="pills-cross" aria-selected="true">Cross-validation</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="pills-train-tab" data-toggle="pill" href="#pills-train" role="tab" aria-controls="pills-train" aria-selected="false">Train-Validation-Holdout</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-cross" role="tabpanel" aria-labelledby="pills-cross-tab">
                <div class="row">
                  <div class="col">
                    <h5>Number of cross-validation (CV) folds:</h5>
                    <p>The number of CV folds defined<br> between 2 - 50.</p>
                    <div class="box">
                      <h6>5</h6>
                      <div class="progress">
                        <div class="progress-bar bg-vlot" role="progressbar" style="width: 15%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="50"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <h5>Holdout percentage:</h5>
                    <p>The percentage of data allocated to the holdout set -- must be between 0% - 98%.</p>
                    <div class="box">
                      <h6>20</h6>
                      <div class="progress">
                        <div class="progress-bar bg-pch" role="progressbar" style="width: 30%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="50"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="box holdout">
                      <span><img src="../../../../assets/images/dot1.png" alt=""> CV Folds</span> &nbsp; <span><img src="../../../../assets/images/dot2.png" alt=""> Holdout</span>
                      <div class="progress">
                        <div class="progress-bar bg-vlot" role="progressbar" style="width: 20%; margin-right:5px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="20"></div>
                        <div class="progress-bar bg-vlot" role="progressbar" style="width: 20%; margin-right:5px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="20"></div>
                        <div class="progress-bar bg-vlot" role="progressbar" style="width: 20%; margin-right:5px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="20"></div>
                        <div class="progress-bar bg-vlot" role="progressbar" style="width: 20%; margin-right:5px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="20"></div>
                        <div class="progress-bar bg-pch" role="progressbar" style="width: 20%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="20"></div>
                      </div>
                      <div class="percent">
                          <span class="float-left">0%</span> 50% <span class="float-right">100%</span>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-train" role="tabpanel" aria-labelledby="pills-train-tab">
                <p>Train-Validation-Holdout</p>
              </div>
            </div>

          </div>
          <div class="tab-pane fade" id="smart" role="tabpanel" aria-labelledby="smart-tab">
            <h5>Smart Downsampling</h5>
          </div>
          <div class="tab-pane fade" id="feature" role="tabpanel" aria-labelledby="feature-tab">
            <h5>Feature Consraints</h5>
          </div>
          <div class="tab-pane fade" id="additional" role="tabpanel" aria-labelledby="additional-tab">
            <h5>Additional</h5>
          </div>
        </div>



      </div>
      <div class="col col-md-4 col-lg-3 sidebar bdr-lft">
        <div class="col-12 worker">
          <h6><img src="../../../../assets/images/worker.png" alt="" class="float-left stat"><img src="../../../../assets/images/worker_01.png" alt="" class="float-left drk">Workers</h6>
          <p>Using <span>2</span> out of 10 workers across all projects.</p>
          <hr>
        </div>
        <div class="col-12 worker">
          <h6><img src="../../../../assets/images/status.png" alt="" class="float-left stat"> <img src="../../../../assets/images/status_01.png" alt="" class="float-left drk">Status</h6>
          <ul>
            <li>1. Uploading Data <img src="../../../../assets/images/tickmark.png" alt="" class="float-right"></li>
            <li>2. Reading raw data (Quick) <img src="../../../../assets/images/tickmark.png" alt="" class="float-right"><br>
              <span>(24.344 sec.)</span></li>
            <li>3.Exploratory Data Analysis <img src="../../../../assets/images/tickmark.png" alt="" class="float-right"><br>
              <span>(13.323 sec.)</span></li>
          </ul>
          <hr>
        </div>
        <div class="col-12 worker">
          <h6>Action</h6>
          <a href="#"> <i class="fa fa-bullseye "></i> Select target</a>
        </div>
      </div>
    </div>
    <!-- Demo Button -->
    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
          <a routerLink="/screen15" class="col-md-12 btn-block" routerLinkActive="activebutton">
            <button class="btn btn-primary mx-auto" style="width:100%;max-width:1280px;">Next Page of Product
              Demo</button>
          </a>
        </div>
      </div>
  </section>
