<!--suppress ALL -->



<app-main-header></app-main-header>
<section class="experiment">
    <div class="top-panel btmspc">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs expils" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Experiments</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="models-tab" data-toggle="tab" href="#models" role="tab"
                                    aria-controls="models" aria-selected="false">Models</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col txtright">
                <a href="#" class="recent">Data Quality Assessment <i class="fa fa-caret-right"></i></a> <a href="#"
                    class="recent">Explore the data <i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="col mainpanel">
                    <div class="avpanel">
                        <a href="#">
                            <div class="clearfix">
                                <div class="head">Autokeras Structured Data regr..</div>
                                <div class="publish"><img src="../../../../assets/images/tickmark.png" width="12"
                                        alt=""> Published</div>
                            </div>
                            <div class="clearfix">
                                <div class="avatar">
                                    By <span><img src="../../../../assets/images/avatar.png" alt=""> George
                                        Fields</span>
                                </div>
                                <div class="edited">
                                    <img src="../../../../assets/images/clock_0l.png" alt=""> Edited just now
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avpanel">
                        <a href="#">
                            <div class="clearfix">
                                <div class="head">Autokeras Structured Data regr..</div>
                                <div class="publish"><img src="../../../../assets/images/tickmark.png" width="12"
                                        alt=""> Published</div>
                            </div>
                            <div class="clearfix">
                                <div class="avatar">
                                    By <span><img src="../../../../assets/images/avatar.png" alt=""> George
                                        Fields</span>
                                </div>
                                <div class="edited">
                                    <img src="../../../../assets/images/clock_0l.png" alt=""> Edited just now
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avpanel">
                        <a href="#">
                            <div class="clearfix">
                                <div class="head">Autokeras Structured Data regr..</div>
                                <div class="publish"><img src="../../../../assets/images/tickmark.png" width="12"
                                        alt=""> Published</div>
                            </div>
                            <div class="clearfix">
                                <div class="avatar">
                                    By <span><img src="../../../../assets/images/avatar.png" alt=""> George
                                        Fields</span>
                                </div>
                                <div class="edited">
                                    <img src="../../../../assets/images/clock_0l.png" alt=""> Edited just now
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avpanel">
                        <a href="#">
                            <div class="clearfix">
                                <div class="head">Autokeras Structured Data regr..</div>
                                <div class="publish"><img src="../../../../assets/images/tickmark.png" width="12"
                                        alt=""> Published</div>
                            </div>
                            <div class="clearfix">
                                <div class="avatar">
                                    By <span><img src="../../../../assets/images/avatar.png" alt=""> George
                                        Fields</span>
                                </div>
                                <div class="edited">
                                    <img src="../../../../assets/images/clock_0l.png" alt=""> Edited just now
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avpanel">
                        <a href="#">
                            <div class="clearfix">
                                <div class="head">Autokeras Structured Data regr..</div>
                                <div class="publish"><img src="../../../../assets/images/tickmark.png" width="12"
                                        alt=""> Published</div>
                            </div>
                            <div class="clearfix">
                                <div class="avatar">
                                    By <span><img src="../../../../assets/images/avatar.png" alt=""> George
                                        Fields</span>
                                </div>
                                <div class="edited">
                                    <img src="../../../../assets/images/clock_0l.png" alt=""> Edited just now
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avpanel">
                        <a href="#">
                            <div class="clearfix">
                                <div class="head">Autokeras Structured Data regr..</div>
                                <div class="publish"><img src="../../../../assets/images/tickmark.png" width="12"
                                        alt=""> Published</div>
                            </div>
                            <div class="clearfix">
                                <div class="avatar">
                                    By <span><img src="../../../../assets/images/avatar.png" alt=""> George
                                        Fields</span>
                                </div>
                                <div class="edited">
                                    <img src="../../../../assets/images/clock_0l.png" alt=""> Edited just now
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avpanel">
                        <a href="#">
                            <div class="clearfix">
                                <div class="head">Autokeras Structured Data regr..</div>
                                <div class="publish"><img src="../../../../assets/images/tickmark.png" width="12"
                                        alt=""> Published</div>
                            </div>
                            <div class="clearfix">
                                <div class="avatar">
                                    By <span><img src="../../../../assets/images/avatar.png" alt=""> George
                                        Fields</span>
                                </div>
                                <div class="edited">
                                    <img src="../../../../assets/images/clock_0l.png" alt=""> Edited just now
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="avpanel">
                        <a href="#">
                            <div class="clearfix">
                                <div class="head">Autokeras Structured Data regr..</div>
                                <div class="publish"><img src="../../../../assets/images/tickmark.png" width="12"
                                        alt=""> Published</div>
                            </div>
                            <div class="clearfix">
                                <div class="avatar">
                                    By <span><img src="../../../../assets/images/avatar.png" alt=""> George
                                        Fields</span>
                                </div>
                                <div class="edited">
                                    <img src="../../../../assets/images/clock_0l.png" alt=""> Edited just now
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col sidexp">
                    <div class="auto-date-box">
                        <h4>Аutokeras Structured Data regresion</h4>
                        <div class="top-panel btmspc">
                            <div class="row">
                                <div class="col archive">
                                    <span class="train">Training</span>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active" id="general-tab" data-toggle="tab"
                                                        href="#general" role="tab" aria-controls="general"
                                                        aria-selected="true">General</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" id="network-tab" data-toggle="tab"
                                                        href="#network" role="tab" aria-controls="network"
                                                        aria-selected="false">Network</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" id="labels-tab" data-toggle="tab" href="#labels"
                                                        role="tab" aria-controls="labels"
                                                        aria-selected="false">Labels</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="general" role="tabpanel"
                                aria-labelledby="general-tab">
                                <div class="info">
                                    <div class="row">
                                        <div class="col">
                                            <br><br>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td width="175"><img
                                                                    src="../../../../assets/images/bullet_02.png"
                                                                    alt=""> CREATED AT</td>
                                                            <td>Aug 18 2020 10:14</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../../../assets/images/bullet_01.png"
                                                                    alt=""> FRAMEWORK</td>
                                                            <td>XGBoost</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../../../assets/images/bullet_04.png"
                                                                    alt=""> STATUS</td>
                                                            <td>Published</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../../../assets/images/bullet.png" alt="">
                                                                MODEL URL</td>
                                                            <td>Https://allegro-examples.s3.amazonnaws.com/trains-public-resources/v0.16/trains_0.16.0/examples/XGBoost
                                                                simple example.</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../../../assets/images/bullet_02.png"
                                                                    alt=""> USER</td>
                                                            <td>Allegro.ai</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../../../assets/images/bullet_06.png"
                                                                    alt=""> CREATING EXPERIMENT</td>
                                                            <td><a href="#"
                                                                    style="color: #8676FF; text-decoration: underline;">XGBoost
                                                                    simple example</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../../../assets/images/bullet_07.png"
                                                                    alt=""> ARCHIVED</td>
                                                            <td>NO</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../../../assets/images/bullet_08.png"
                                                                    alt=""> PROJECT</td>
                                                            <td>Trains Examples</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../../../assets/images/bullet_03.png"
                                                                    alt=""> DESCRIPTION</td>
                                                            <td>Created by task id: 298c2d9a85654a72812473d36b2cc94f
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="../../../../assets/images/bullet_02.png"
                                                                    alt=""> CREATED BY</td>
                                                            <td>AIStudio.ml</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="network" role="tabpanel" aria-labelledby="network-tab">
                                <div class="info">
                                    <div class="row">
                                        <div class="col">
                                            <h3>Labels</h3>
                                            <div class="terminal">
                                                <p>value = 133.7<br>
                                                    dict {{ '{' }}<br>
                                                    &nbsp; sub_value = "string"<br>
                                                    &nbsp; sub_integer = 11<br>
                                                    {{ '}' }}<br>
                                                    list_of_ints = [1, 2, 3, 4]<br>
                                                    new value = 10</p>
                                                <p><br></p>
                                                <p><br></p>
                                                <p><br></p>
                                                <p><br></p>
                                                <p><br></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="labels" role="tabpanel" aria-labelledby="labels-tab">
                                <div class="info">
                                    <div class="row">
                                        <div class="col">
                                            <h3>Labels</h3>
                                            <div class="rlabel rhed">
                                                <div class="row">
                                                    <div class="col col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="customCheck1">
                                                            <label class="custom-control-label" for="customCheck1">
                                                                Label</label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        ID
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rlabel rdate">
                                                <div class="row">
                                                    <div class="col col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="customCheck2">
                                                            <label class="custom-control-label" for="customCheck2">
                                                                ab</label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        0
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rlabel rdate">
                                                <div class="row">
                                                    <div class="col col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="customCheck3">
                                                            <label class="custom-control-label"
                                                                for="customCheck3">abc</label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        1
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rlabel rdate">
                                                <div class="row">
                                                    <div class="col col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="customCheck4">
                                                            <label class="custom-control-label"
                                                                for="customCheck4">abcd</label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        2
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rlabel rdate">
                                                <div class="row">
                                                    <div class="col col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="customCheck5">
                                                            <label class="custom-control-label"
                                                                for="customCheck5">abcde</label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        3
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="rlabel rdate">
                                                <div class="row">
                                                    <div class="col col-md-4">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                id="customCheck6">
                                                            <label class="custom-control-label"
                                                                for="customCheck6">abcdef</label>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        4
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="models" role="tabpanel" aria-labelledby="models-tab">
            <p>Models content here.....</p>
        </div>
    </div>

    <!-- Demo Button -->
    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
            <a routerLink="/screen23" class="col-md-12 btn-block" routerLinkActive="activebutton">
                <button class="btn btn-primary mx-auto" style="width:100%;max-width:1280px;">Next Page of Product
                    Demo</button>
            </a>
        </div>
    </div>
</section>
