<app-main-header></app-main-header>

<section class="project">
  <div class="row">
    <div class="col">
      <div class="datasets">
        <a href="#"><i class="fa fa-caret-left"></i> All Datasets</a>
        <h6>Hospital Readmission</h6>
        <dl class="tb-data">
          <dt>Target Variable:</dt>
          <dd>Readmited</dd>
          <dt>Industry:</dt>
          <dd>Health Care</dd>
        </dl>
        <p>Checking for usage limits...</p>
      </div>
    </div>
  </div>

  <!-- Popup -->
  <div class="popup">
    <div class="dialog-box">
      <div class="popup-content">
        <a href="#" class="close"><img src="../../../../assets/images/close.png" alt=""></a>
        <h2>Create Project from Data Connection</h2>
        <h5>Data Connections <span>/ Select Data Store</span></h5>
        <br><br>
        <form>
          <div class="form-group">
            <label>Data connection name *</label>
            <input type="text" class="form-control" placeholder="Data connection name ">
          </div>
          <div class="form-group">
            <label>Version</label>
            <input type="text" class="form-control" placeholder="AWS Athena 2.0 (2.0.5)">
          </div>
          <div class="form-group">
            <label>Configuration</label>
            <div class="col">
              <div class="row">
                <div class="custom-control custom-radio col col-md-3">
                  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio1"> Parameters</label>
                </div>
                <div class="custom-control custom-radio col col-md-3">
                  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                  <label class="custom-control-label" for="customRadio2"> URL (Advanced)</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="AWS Athena 2.0 (2.0.5)">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="AWS Athena 2.0 (2.0.5)">
              </div>
              <a href="#" class="delete"><img src="../../../../assets/images/icn_trash.png" alt=""></a>
            </div>
          </div>
          <div class="form-group group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="AWS Athena 2.0 (2.0.5)">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="AWS Athena 2.0 (2.0.5)">
              </div>
              <a href="#" class="delete"><img src="../../../../assets/images/icn_trash.png" alt=""></a>
            </div>
          </div>
          <div class="form-group group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="AWS Athena 2.0 (2.0.5)">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="AWS Athena 2.0 (2.0.5)">
              </div>
              <a href="#" class="delete"><img src="../../../../assets/images/icn_trash.png" alt=""></a>
            </div>
          </div>
          <div class="form-group group">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="AWS Athena 2.0 (2.0.5)">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="AWS Athena 2.0 (2.0.5)">
              </div>
              <a href="#" class="delete"><img src="../../../../assets/images/icn_trash.png" alt=""></a>
            </div>
          </div>
          <div class="form-group">
            <a href="#" class="add">+ <u>Add parameter</u></a>
          </div>
          <div class="clearfix">
            <a href="#" class="btn btn-primary float-right nospr">Cancel</a>
          </div>

          <!-- Demo button -->
          <div class="row">
            <div class="col-md-12" style="padding-top: 15px;">
              <a routerLink="/screen9" class="col-md-12 btn-block" routerLinkActive="activebutton">
                <button class="btn btn-primary mx-auto" style="width:100%;max-width:1280px;">Next Page of Product
                  Demo</button>
              </a>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>