<app-main-header></app-main-header>

<section class="table-date">
    <div class="row">
        <div class="col col-md-8 col-lg-9 main-section" style="opacity: 0.4">
            <div class="row justify-content-between">
                <div class="col col-md-5 predict">
                    <h6>What would you like to predict?</h6>
                    <br>
                    <form>
                        <input type="text" class="form-control" placeholder="readmitted">
                    </form>
                    <p class="target">Recommended target is: <a href="#">readmitted</a> <a href="#">No target?</a></p>
                </div>
                <div class="col col-md-5 col-lg-4 time">
                    <h6><img src="../../../assets/images/clock.png" alt="" class="float-left"> Time-Aware<br> Modeling
                    </h6>
                    <p>Time-aware modeling is not available for this project because site did not detect any time
                        features in thedataset</p>
                    <div class="open-doc">Open documentation</div>
                    <div class="setup"><img src="../../../assets/images/toggle.png" alt=""> Set up time-aware modeling
                    </div>
                </div>
            </div>
            <div class="col-12 center">
                <img src="../../../assets/images/dia-start.png" alt="">
            </div>
            <div class="col-12 center mode">
                <h3>Modeling Mode: <a href="#">Quick <i class="fa fa-angle-down"></i></a></h3>
                <p>Feature list: Informative Features</p>
                <a href="#" class="show"><img src="../../../assets/images/icn_cog.png" alt=""> Show Advanced Options</a>
            </div>
            <div class="table-topbar">
                <div class="row">
                    <div class="col col-md-8 col-lg-9">
                        <a href="#"><img src="../../../assets/images/menu.png" alt=""> Menu</a> <a href="#"><img
                                src="../../../assets/images/lens.png" alt=""> Search</a> <a href="#"><img
                                src="../../../assets/images/filter.png" alt=""> Filter Projects</a> <a href="#"><img
                                src="../../../assets/images/plus.png" alt=""> Create feature list</a> <a href="#"><img
                                src="../../../assets/images/data.png" alt=""> View raw data</a>
                    </div>
                    <div class="col col-md-4 col-lg-3 pages">
                        <a href="#"><i class="fa fa-angle-left"></i></a>&nbsp; 1-50 of 51 &nbsp;<a href="#"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Feature Name</label>
                                </div>
                            </th>
                            <th scope="col">Data Quality</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Index</th>
                            <th scope="col">Var Type</th>
                            <th scope="col">Unique</th>
                            <th scope="col">Missing</th>
                            <th scope="col">Mean</th>
                            <th scope="col">Std Dev</th>
                            <th scope="col">Median</th>
                            <th scope="col">Min</th>
                            <th scope="col">Max</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">Use as target <i class="fa fa-bullseye "></i></td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr class="grey">
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use"></td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use"></td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col col-md-4 col-lg-3 sidebar bdr-lft">
            <div class="col-12 worker">
                <h6><img src="../../../assets/images/worker.png" alt="" class="float-left stat"><img
                        src="../../../assets/images/worker_01.png" alt="" class="float-left drk">Workers</h6>
                <p>Using <span>2</span> out of 10 workers across all projects.</p>
                <hr>
            </div>
            <div class="col-12 worker">
                <h6><img src="../../../assets/images/status.png" alt="" class="float-left stat"> <img
                        src="../../../assets/images/status_01.png" alt="" class="float-left drk">Status</h6>
                <ul>
                    <li>1. Uploading Data <img src="../../../assets/images/tickmark.png" alt="" class="float-right">
                    </li>
                    <li>2. Reading raw data (Quick) <img src="../../../assets/images/tickmark.png" alt=""
                            class="float-right"><br>
                        <span>(24.344 sec.)</span>
                    </li>
                    <li>3.Exploratory Data Analysis <img src="../../../assets/images/tickmark.png" alt=""
                            class="float-right"><br>
                        <span>(13.323 sec.)</span>
                    </li>
                </ul>
                <hr>
            </div>
            <div class="col-12 worker">
                <h6>Action</h6>
                <a href="#"> <i class="fa fa-bullseye "></i> Select target</a>
            </div>
        </div>
    </div>
    <!-- Demo button -->
    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
            <a routerLink="/screen13" class="col-md-12 btn-block" routerLinkActive="activebutton">
                <button class="btn btn-primary mx-auto" style="width:100%;max-width:1280px;">Next Page of Product
                    Demo</button>
            </a>
        </div>
    </div>

</section>