<app-main-header></app-main-header>

<section class="project">
  <div class="row">
    <div class="col">
      <div class="datasets">
        <a href="#"><i class="fa fa-caret-left"></i> All Datasets</a>
        <h6>Hospital Readmission</h6>
        <dl class="tb-data">
          <dt>Target Variable:</dt>
          <dd>Readmited</dd>
          <dt>Industry:</dt>
          <dd>Health Care</dd>
        </dl>
        <p>Checking for usage limits...</p>
      </div>
    </div>
    <div class="col">
      <a href="#" class="btn btn-primary btn-create">Create Project</a>
    </div>
  </div>
  <div class="details">
    <div class="row">
      <div class="col col-md-4">
        <h4>Introduction</h4>
      </div>
      <div class="col col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi dolor sit lorem risus neque, scelerisque. A arcu,
          dictum amet, pellentesque cursus enim tortor commodo. Feugiat enim vel tristique at amet cursus augue varius
          sit. Feugiat scelerisque diam mauris in ac. Et maecenas volutpat non auctor vestibulum elementum amet. Orci
          arcu lorem leo commodo aenean mauris nisi. Blandit ut sed sem in nisi in tempus rhoncus integer. Scelerisque
          varius risus tincidunt imperdiet tortor.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="details">
    <div class="row">
      <div class="col col-md-4 txtright">
        <h4>How can Our Site Help?</h4>
      </div>
      <div class="col col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi dolor sit lorem risus neque, scelerisque. A arcu,
          dictum amet, pellentesque cursus enim tortor commodo. Feugiat enim vel tristique at amet cursus augue varius
          sit. Feugiat scelerisque diam mauris in ac. Et maecenas volutpat non auctor vestibulum elementum amet. Orci
          arcu lorem leo commodo aenean mauris nisi. Blandit ut sed sem in nisi in tempus rhoncus integer. Scelerisque
          varius risus tincidunt imperdiet tortor.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="details">
    <div class="row">
      <div class="col col-md-4">
        <h4>For Example...</h4>
      </div>
      <div class="col col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi dolor sit lorem risus neque, scelerisque. A arcu,
          dictum amet, pellentesque cursus enim tortor commodo. Feugiat enim vel tristique at amet cursus augue varius
          sit. Feugiat scelerisque diam mauris in ac. Et maecenas volutpat non auctor vestibulum elementum amet. Orci
          arcu lorem leo commodo aenean mauris nisi. Blandit ut sed sem in nisi in tempus rhoncus integer. Scelerisque
          varius risus tincidunt imperdiet tortor.</p>
      </div>
      <div class="col-12">
        <br>
        <p>For more usage details, refer to the <a href="#">Data Source</a> or <a href="#">License</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding-top: 15px;">
      <a routerLink="/screen12" class="col-md-12 btn-block" routerLinkActive="activebutton">
        <button class="btn btn-primary mx-auto" style="width:100%;max-width:1280px;">Next Page of Product
          Demo</button>
      </a>
    </div>
  </div>
</section>