<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">    
      <div class="row">
        <div class="col col-md-6">
          <a class="navbar-brand" href="#"><img src="../../../../assets/images/logo.png" align="AISTUDIO"></a>
          <h1>Create New Project</h1>
        </div>
        <div class="col col-md-6">
          <ul class="navright">
            <li>
              <form>
                <input type="search" class="form-control" placeholder="Search for a project, deployment, model, etc">
              </form>
            </li>
            <li>
              <a href="#" class="notifi"><img src="../../../../assets/images/bell.png" alt=""></a>
            </li>
            <li>
              <a href="#" class="user"><img src="../../../../assets/images/user.png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>