<app-main-header></app-main-header>

<section class="table-date">
    <div class="row">
        <div class="col col-md-8 col-lg-9 main-section">
            <div class="table-topbar ntp">
                <div class="row">
                    <div class="col col-md-8 col-lg-9">
                        <a href="#"><img src="../../../../assets/images/menu.png" alt=""> Menu</a> <a href="#"><img
                                src="assets/images/lens.png" alt=""> Search</a> <a href="#"><img
                                src="assets/images/filter.png" alt=""> Filter Projects</a> <a href="#"><img
                                src="assets/images/plus.png" alt=""> Create feature list</a> <a href="#"><img
                                src="assets/images/data.png" alt=""> View raw data</a>
                    </div>
                    <div class="col col-md-4 col-lg-3 pages">
                        <a href="#"><i class="fa fa-angle-left"></i></a>&nbsp; 1-50 of 51 &nbsp;<a href="#"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Feature Name</label>
                                </div>
                            </th>
                            <th scope="col">Data Quality</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Index</th>
                            <th scope="col">Var Type</th>
                            <th scope="col">Unique</th>
                            <th scope="col">Missing</th>
                            <th scope="col">Mean</th>
                            <th scope="col">Std Dev</th>
                            <th scope="col">Median</th>
                            <th scope="col">Min</th>
                            <th scope="col">Max</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">Use as target <i class="fa fa-bullseye "></i></td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr class="grey">
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label" for="customCheck4"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr class="grey">
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                                    <label class="custom-control-label" for="customCheck5"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                                    <label class="custom-control-label" for="customCheck6"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr class="grey">
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                                    <label class="custom-control-label" for="customCheck7"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                                    <label class="custom-control-label" for="customCheck8"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr class="grey">
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck9">
                                    <label class="custom-control-label" for="customCheck9"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck10">
                                    <label class="custom-control-label" for="customCheck10"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr class="grey">
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck11">
                                    <label class="custom-control-label" for="customCheck11"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck12">
                                    <label class="custom-control-label" for="customCheck12"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr class="grey">
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck13">
                                    <label class="custom-control-label" for="customCheck13"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                        <tr>
                            <td scope="row">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck14">
                                    <label class="custom-control-label" for="customCheck14"></label>Name <i
                                        class="fa fa-caret-down"></i>
                                </div>
                            </td>
                            <td class="use">&nbsp;</td>
                            <td class="dash">---</td>
                            <td>777</td>
                            <td>Boolean</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                            <td>777</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col col-md-4 col-lg-3 sidebar bdr-lft">
            <div class="col-12 worker">
                <h6><img src="../../../../assets/images/worker.png" alt="" class="float-left stat"><img
                        src="../../../../assets/images/worker_01.png" alt="" class="float-left drk">Workers</h6>
                <p>Using <span>2</span> out of 10 workers<br> across all projects.</p>
                <hr>
            </div>
            <div class="col-12 worker">
                <h6><img src="../../../../assets/images/status.png" alt="" class="float-left stat"><img
                        src="../../../../assets/images/status_01.png" alt="" class="float-left drk">Status</h6>
                <br>
                <ul>
                    <li>1. Setting target feature <img src="../../../../assets/images/tickmark.png" alt=""
                            class="float-right"><br>
                        <span>(0.044 sec.)</span>
                    </li>
                    <li>2. Creating CV and Holdout partitions <img src="../../../../assets/images/tickmark.png" alt=""
                            class="float-right"><br>
                        <span>(24.344 sec.)</span>
                    </li>
                    <li>3.Characterizing target variable <img src="../../../../assets/images/tickmark.png" alt=""
                            class="float-right"><br>
                        <span>(13.323 sec.)</span>
                    </li>
                    <li>4.Loading dataset and preparing data <img src="../../../../assets/images/tickmark.png" alt=""
                            class="float-right"><br>
                        <span>(13.323 sec.)</span>
                    </li>
                    <li>5.Saving target and partitioning information <img src="../../../../assets/images/tickmark.png"
                            alt="" class="float-right"><br>
                        <span>(13.323 sec.)</span>
                    </li>
                    <li>6.Analyzing features <img src="../../../../assets/images/tickmark.png" alt=""
                            class="float-right"><br>
                        <span>(13.323 sec.)</span>
                    </li>
                    <li>7.Generating blueprints <img src="../../../../assets/images/tickmark.png" alt=""
                            class="float-right"><br>
                        <span>(13.323 sec.)</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Demo Button -->
    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
            <a routerLink="/screen26" class="col-md-12 btn-block" routerLinkActive="activebutton">
                <button class="btn btn-primary mx-auto" style="width:100%;max-width:1280px;">Next Page of Product
                    Demo</button>
            </a>
        </div>
    </div>
</section>