<!--suppress ALL -->



<app-main-header></app-main-header>
<section class="experiment">
    <div class="top-panel btmspc">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <ul class="nav nav-tabs expils" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Experiments</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="models-tab" data-toggle="tab" href="#models" role="tab" aria-controls="models" aria-selected="false">Models</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col txtright">
          <a href="#" class="recent">Data Quality Assessment <i class="fa fa-caret-right"></i></a> <a href="#" class="recent">Explore the data <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
          <div class="col mainpanel">
            <div class="avpanel">
              <a href="#">
                <div class="clearfix">
                  <div class="head">Autokeras Structured Data regr..</div>
                  <div class="publish"><img src="../../../assets/images/tickmark.png" width="12" alt=""> Published</div>
                </div>
                <div class="clearfix">
                  <div class="avatar">
                    By <span><img src="../../../assets/images/avatar.png" alt=""> George Fields</span>
                  </div>
                  <div class="edited">
                    <img src="../../../assets/images/clock_0l.png" alt=""> Edited just now
                  </div>
                </div>
              </a>
            </div>
            <div class="avpanel">
              <a href="#">
                <div class="clearfix">
                  <div class="head">Autokeras Structured Data regr..</div>
                  <div class="publish"><img src="../../../assets/images/tickmark.png" width="12" alt=""> Published</div>
                </div>
                <div class="clearfix">
                  <div class="avatar">
                    By <span><img src="../../../assets/images/avatar.png" alt=""> George Fields</span>
                  </div>
                  <div class="edited">
                    <img src="../../../assets/images/clock_0l.png" alt=""> Edited just now
                  </div>
                </div>
              </a>
            </div>
            <div class="avpanel">
              <a href="#">
                <div class="clearfix">
                  <div class="head">Autokeras Structured Data regr..</div>
                  <div class="publish"><img src="../../../assets/images/tickmark.png" width="12" alt=""> Published</div>
                </div>
                <div class="clearfix">
                  <div class="avatar">
                    By <span><img src="../../../assets/images/avatar.png" alt=""> George Fields</span>
                  </div>
                  <div class="edited">
                    <img src="../../../assets/images/clock_0l.png" alt=""> Edited just now
                  </div>
                </div>
              </a>
            </div>
            <div class="avpanel">
              <a href="#">
                <div class="clearfix">
                  <div class="head">Autokeras Structured Data regr..</div>
                  <div class="publish"><img src="../../../assets/images/tickmark.png" width="12" alt=""> Published</div>
                </div>
                <div class="clearfix">
                  <div class="avatar">
                    By <span><img src="../../../assets/images/avatar.png" alt=""> George Fields</span>
                  </div>
                  <div class="edited">
                    <img src="../../../assets/images/clock_0l.png" alt=""> Edited just now
                  </div>
                </div>
              </a>
            </div>
            <div class="avpanel">
              <a href="#">
                <div class="clearfix">
                  <div class="head">Autokeras Structured Data regr..</div>
                  <div class="publish"><img src="../../../assets/images/tickmark.png" width="12" alt=""> Published</div>
                </div>
                <div class="clearfix">
                  <div class="avatar">
                    By <span><img src="../../../assets/images/avatar.png" alt=""> George Fields</span>
                  </div>
                  <div class="edited">
                    <img src="../../../assets/images/clock_0l.png" alt=""> Edited just now
                  </div>
                </div>
              </a>
            </div>
            <div class="avpanel">
              <a href="#">
                <div class="clearfix">
                  <div class="head">Autokeras Structured Data regr..</div>
                  <div class="publish"><img src="../../../assets/images/tickmark.png" width="12" alt=""> Published</div>
                </div>
                <div class="clearfix">
                  <div class="avatar">
                    By <span><img src="../../../assets/images/avatar.png" alt=""> George Fields</span>
                  </div>
                  <div class="edited">
                    <img src="../../../assets/images/clock_0l.png" alt=""> Edited just now
                  </div>
                </div>
              </a>
            </div>
            <div class="avpanel">
              <a href="#">
                <div class="clearfix">
                  <div class="head">Autokeras Structured Data regr..</div>
                  <div class="publish"><img src="../../../assets/images/tickmark.png" width="12" alt=""> Published</div>
                </div>
                <div class="clearfix">
                  <div class="avatar">
                    By <span><img src="../../../assets/images/avatar.png" alt=""> George Fields</span>
                  </div>
                  <div class="edited">
                    <img src="../../../assets/images/clock_0l.png" alt=""> Edited just now
                  </div>
                </div>
              </a>
            </div>
            <div class="avpanel">
              <a href="#">
                <div class="clearfix">
                  <div class="head">Autokeras Structured Data regr..</div>
                  <div class="publish"><img src="../../../assets/images/tickmark.png" width="12" alt=""> Published</div>
                </div>
                <div class="clearfix">
                  <div class="avatar">
                    By <span><img src="../../../assets/images/avatar.png" alt=""> George Fields</span>
                  </div>
                  <div class="edited">
                    <img src="../../../assets/images/clock_0l.png" alt=""> Edited just now
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col sidexp">
            <div class="auto-date-box" style="padding-bottom: 0px;">
              <h4>Аutokeras Structured Data regresion</h4>
              <div class="top-panel btmspc">
                <div class="row">
                  <div class="col col-md-2 col-lg-2 archive">
                    <span class="train">Training</span>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <ul class="nav nav-tabs mvlrgt" id="myTab" role="tablist">
                          <li class="nav-item" role="presentation">
                            <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link" id="execution-tab" data-toggle="tab" href="#execution" role="tab" aria-controls="execution" aria-selected="false">execution</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link" id="configuration-tab" data-toggle="tab" href="#configuration" role="tab" aria-controls="configuration" aria-selected="false">Configuration</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="artifacts-tab" data-toggle="tab" href="#artifacts" role="tab" aria-controls="artifacts" aria-selected="false">Artifacts</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Info</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link" id="results-tab" data-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="false">Results</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                  <div class="row">
                    <div class="col select">
                      <h4>Accuracy summary</h4>
                    </div>
                    <div class="col col-md-9 col-lg-7">
                      <ul class="nav nav-pills pils-lft" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="pills-random-tab" data-toggle="pill" href="#pills-random" role="tab" aria-controls="pills-random" aria-selected="true">Explore</a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link active" id="pills-partition-tab" data-toggle="pill" href="#pills-partition" role="tab" aria-controls="pills-partition" aria-selected="false">Understand</a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="pills-group-tab" data-toggle="pill" href="#pills-group" role="tab" aria-controls="pills-group" aria-selected="false">Predict</a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="pills-date-tab" data-toggle="pill" href="#pills-date" role="tab" aria-controls="pills-date" aria-selected="false">Compliance</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="accu center">
                    <div class="row">
                      <div class="col">
                        <p>Row 1</p>
                        <img src="../../../assets/images/circle_chart_01.png" alt="">
                      </div>
                      <div class="col">
                        <p>Row 2</p>
                        <img src="../../../assets/images/circle_chart_02.png" alt="">
                      </div>
                      <div class="col">
                        <p>Row 3</p>
                        <img src="../../../assets/images/circle_chart_03.png" alt="">
                      </div>
                      <div class="col">
                        <p>Row 4</p>
                        <img src="../../../assets/images/circle_chart_04.png" alt="">
                      </div>
                      <div class="col">
                        <p>Row 5</p>
                        <img src="../../../assets/images/circle_chart_05.png" alt="">
                      </div>
                      <div class="col">
                        <p>Row 6</p>
                        <img src="../../../assets/images/circle_chart_06.png" alt="">
                      </div>
                      <div class="col">
                        <p>Row 7</p>
                        <img src="../../../assets/images/circle_chart_07.png" alt="">
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h4>Feature Impact</h4>
                      <br>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <img src="../../../assets/images/diagram_05.png" alt="">
                    </div>
                  </div>
                </div>
                 <div class="tab-pane fade" id="execution" role="tabpanel" aria-labelledby="execution-tab">
                  <div class="execution">
                    <div class="row">
                      <div class="col-12">
                        <h4>Source Code</h4>
                        <div class="table-responsive">
                          <table class="table table-borderless">
                            <tbody>
                              <tr>
                                <th>REPOSITORY</th>
                                <td>https://github.com/studioai/trains.git</td>
                              </tr>
                              <tr>
                                <th>COMMIT ID</th>
                                <td>8112b6b44fa68a84ac5bb3b515b61a585f65a97f (in branch master)</td>
                              </tr>
                              <tr>
                                <th>SCRIPT PATH</th>
                                <td>xgboost_sample.py</td>
                              </tr>
                              <tr>
                                <th>WORKING DIRECTORY</th>
                                <td>examples/frameworks/xgboost</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-12">
                        <hr>
                        <h4>Uncomitted Changes</h4>
                        <p>No changes logged.</p>
                        <hr>
                      </div>
                      <div class="col-12">
                        <h4>Installed Packages</h4>
                        <div class="terminal">
                          <p># Python 3.6.11 (default, Jun 29 2020, 04:25:06)  [GCC 9.3.0]<br>
                          matplotlib == 3.3.1<br>
                          scikit_learn == 0.23.2<br>
                          trains == 0.16.0<br>
                          xgboost == 1.1.1<br>
                          # Detailed import analysis<br>
                          # **************************<br>
                          # IMPORT PACKAGE matplotlib<br>
                          # xgboost_sample.py: 1</p>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="tab-pane fade" id="configuration" role="tabpanel" aria-labelledby="configuration-tab">
                  <div class="configuration">
                    <div class="row">
                      <div class="col col-md-4 nopdrgt">
                        <div class="user-property">
                          <h5>User properties <img src="../../../assets/images/arw_up.png" alt=""></h5>
                          <span><img src="../../../assets/images/icn_property.png" alt=""> User properties</span>
                        </div>
                        <div class="user-property">
                          <h5>Hyper parameters <img src="assets/images/arw_up.png" alt=""></h5>
                          <span><img src="../../../assets/images/icn_property.png" alt=""> User properties</span>
                        </div>
                      </div>
                      <div class="col col-md-8 content">
                        <h4>Parametr 1</h4>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td width="175"><img src="../../../assets/images/bullet_01.png" alt=""> Row 1</td>
                                <td>False</td>
                              </tr>
                              <tr>
                                <td><img src="../../../assets/images/bullet_02.png" alt=""> Row 2</td>
                                <td>False</td>
                              </tr>
                              <tr>
                                <td><img src="../../../assets/images/bullet_03.png" alt=""> Row 3</td>
                                <td>True</td>
                              </tr>
                              <tr>
                                <td><img src="../../../assets/images/bullet_04.png" alt=""> Row 4</td>
                                <td>True</td>
                              </tr>
                              <tr>
                                <td><img src="../../../assets/images/bullet.png" alt=""> Row 5</td>
                                <td>True</td>
                              </tr>
                              <tr>
                                <td><img src="../../../assets/images/bullet_05.png" alt=""> Row 6</td>
                                <td>False</td>
                              </tr>
                              <tr>
                                <td><img src="../../../assets/images/bullet_06.png" alt=""> Row 7</td>
                                <td>False</td>
                              </tr>
                              <tr>
                                <td><img src="../../../assets/images/bullet_07.png" alt=""> Row 8</td>
                                <td>True</td>
                              </tr>
                              <tr>
                                <td><img src="../../../assets/images/bullet_08.png" alt=""> Row 9</td>
                                <td>True</td>
                              </tr>
                              <tr>
                                <td><img src="../../../assets/images/bullet_03.png" alt=""> Row 10</td>
                                <td>False</td>
                              </tr>
                              <tr>
                                <td><img src="../../../assets/images/bullet_02.png" alt=""> Row 11</td>
                                <td>True</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="tab-pane fade show active" id="artifacts" role="tabpanel" aria-labelledby="artifacts-tab">
                  <div class="artifacts">
                    <div class="row">
                      <div class="col col-md-4 nopdrgt">
                        <div class="property">
                          <h5>Models <img src="../../../assets/images/arw_up.png" alt=""></h5>
                          <span><img src="../../../assets/images/log-out.png" alt=""> Output model</span>
                        </div>
                      </div>
                      <div class="col col-md-8 content">
                        <div class="head">
                          <div class="row">
                            <div class="col">
                              <h4>Model name</h4>
                            </div>
                            <div class="col">
                              <a href="#">Model configuration and upload</a> <img src="../../../assets/images/upload.png" alt="">
                            </div>
                          </div>
                        </div>
                        <hr>
                        <h4>Model configuration</h4>
                        <div class="terminal">
                          <p>value = 133.7<br>
                          dict {{ '{' }}<br>
                          &nbsp; sub_value = "string"<br>
                          &nbsp; sub_integer = 11<br>
                          {{'}'}}<br>
                          list_of_ints = [1, 2, 3, 4]<br>
                          new value = 10</p>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
                 <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="info">
                        <div class="row">
                          <div class="col">
                            <h3>Source Code</h3>
                            <div class="table-responsive">
                              <table class="table">
                                <tbody>
                                  <tr>
                                    <td width="175"><img src="../../../assets/images/bullet_02.png" alt=""> ARCHIVED</td>
                                    <td>No</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet_01.png" alt=""> CHANGED AT</td>
                                    <td>Aug 18 2020 10:14</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet_04.png" alt=""> LAST ITERATION</td>
                                    <td>10310</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet.png" alt=""> STATUS MESSAGE</td>
                                    <td>N/A</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet_02.png" alt=""> STATUS REASON</td>
                                    <td>N/A</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet_06.png" alt=""> CREATED AT</td>
                                    <td>Aug 18 2020 10:08</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet_07.png" alt=""> STARTED AT</td>
                                    <td>Aug 18 2020 10:08</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet_08.png" alt=""> LAST UPDATED AT</td>
                                    <td>Sep 21 2020 9:58</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet_03.png" alt=""> COMPLETED AT</td>
                                    <td>Aug 18 2020 10:11</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet_02.png" alt=""> CREATED BY</td>
                                    <td>AIStudio.ml</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet_02.png" alt=""> PROJECT</td>
                                    <td>Trains Examples</td>
                                  </tr>
                                  <tr>
                                    <td><img src="../../../assets/images/bullet_02.png" alt=""> DESCRIPTION</td>
                                    <td>Auto generated</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                     </div>
                 </div>
                 <div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="results-tab">
                  <p>Results content here.....</p>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="tab-pane fade" id="models" role="tabpanel" aria-labelledby="models-tab">
        <p>Models content here.....</p>
       </div>
    </div>

    <!-- Demo Button -->
    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
            <a routerLink="/screen20" class="col-md-12 btn-block" routerLinkActive="activebutton">
                <button class="btn btn-primary mx-auto" style="width:100%;max-width:1280px;">Next Page of Product
                    Demo</button>
            </a>
        </div>
    </div>
  </section>
