<app-main-header></app-main-header>
<section class="projects">
    <div class="row">
        <div class="col">
            <h2>Projects</h2>
        </div>
        <div class="col txtright">
            <span class="activity"><img src="../../../assets/images/dot1.png" alt="" width="8"> Worker’s Activity</span>
            <span class="activity"><img src="assets/images/dot3.png" alt=""> Team Activity</span> <a href="#"
                class="recent">Recent <i class="fa fa-caret-down"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4 col-lg-3">
            <div class="box">
                <div class="col">
                    <h4>Trains Examples <span>12</span></h4>
                    <div class="cleafix center">
                        <img src="assets/images/results.png" alt="">
                    </div>
                    <div class="cleafix center">
                        <img src="../../../assets/images/diagram_01.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="col timer">
                    <img src="../../../assets/images/tickmark.png" alt=""> Compute time:00:12:45 was succesfull
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-lg-3">
            <div class="box">
                <div class="col">
                    <h4>Trains Examples <span>12</span></h4>
                    <div class="cleafix center">
                        <img src="../../../assets/images/results.png" alt="">
                    </div>
                    <div class="cleafix center">
                        <img src="../../../assets/images/diagram_01.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="col timer">
                    <img src="../../../assets/images/tickmark.png" alt=""> Compute time:00:12:45 was succesfull
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-lg-3">
            <div class="box">
                <div class="col">
                    <h4>Trains Examples <span>12</span></h4>
                    <div class="cleafix center">
                        <img src="../../../assets/images/results.png" alt="">
                    </div>
                    <div class="cleafix center">
                        <img src="../../../assets/images/diagram_01.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="col timer">
                    <img src="../../../assets/images/tickmark.png" alt=""> Compute time:00:12:45 was succesfull
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-lg-3">
            <div class="box">
                <div class="col">
                    <h4>Trains Examples <span>12</span></h4>
                    <div class="cleafix center">
                        <img src="../../../assets/images/results.png" alt="">
                    </div>
                    <div class="cleafix center">
                        <img src="../../../assets/images/diagram_01.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="col timer">
                    <img src="../../../assets/images/tickmark.png" alt=""> Compute time:00:12:45 was succesfull
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-lg-3">
            <div class="box">
                <div class="col">
                    <h4>Trains Examples <span>12</span></h4>
                    <div class="cleafix center">
                        <img src="../../../assets/images/results.png" alt="">
                    </div>
                    <div class="cleafix center">
                        <img src="../../../assets/images/diagram_01.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="col timer">
                    <img src="../../../assets/images/tickmark.png" alt=""> Compute time:00:12:45 was succesfull
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-lg-3">
            <div class="box">
                <div class="col">
                    <h4>Trains Examples <span>12</span></h4>
                    <div class="cleafix center">
                        <img src="../../../assets/images/results.png" alt="">
                    </div>
                    <div class="cleafix center">
                        <img src="../../../assets/images/diagram_01.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="col timer">
                    <img src="../../../assets/images/tickmark.png" alt=""> Compute time:00:12:45 was succesfull
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-lg-3">
            <div class="box">
                <div class="col">
                    <h4>Trains Examples <span>12</span></h4>
                    <div class="cleafix center">
                        <img src="../../../assets/images/results.png" alt="">
                    </div>
                    <div class="cleafix center">
                        <img src="../../../assets/images/diagram_01.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="col timer">
                    <img src="../../../assets/images/tickmark.png" alt=""> Compute time:00:12:45 was succesfull
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-lg-3">
            <div class="box">
                <div class="col">
                    <h4>Trains Examples <span>12</span></h4>
                    <div class="cleafix center">
                        <img src="../../../assets/images/results.png" alt="">
                    </div>
                    <div class="cleafix center">
                        <img src="../../../assets/images/diagram_01.png" alt="">
                    </div>
                </div>
                <hr>
                <div class="col timer">
                    <img src="../../../assets/images/tickmark.png" alt=""> Compute time:00:12:45 was succesfull
                </div>
            </div>
        </div>
    </div>

    <!-- Demo Button -->
    <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
            <a routerLink="/screen19" class="col-md-12 btn-block" routerLinkActive="activebutton">
                <button class="btn btn-primary mx-auto" style="width:100%;max-width:1280px;">Next Page of Product
                    Demo</button>
            </a>
        </div>
    </div>
</section>